@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(../assets/fonts/all-fonts.css);
@import url(../styles/international-phone-input.css);
@import url(./typography.css);

:root {
  --scroller: #dfdfdf;
  --hover-nav-color: #090215;
  --section-color: #f0eef5;
  --bg-gradient-color: #3533cd;
  --black-color: #000000;
  --white-text: #ffffff;
  --button-color: #3533cd;
  --button-shadow: #cb6ce680;
  --button-gradient: #ec27b699;
  --button-border: #fbcc3e;
  --border-gradient: #004aad;
  --dialog-bg: #242424;
  --bg-input: #333333;
  --error-message: #f64e60;
  --border-tab: #222082;
  --bg-card: #080213;
  --img-bg: #d9d9d9;
  --league-spartan-black: "Spartan-Black";
  --league-spartan-bold: "Spartan-Bold";
  --league-spartan-extra-bold: "Spartan-Extra-Bold";
  --league-spartan-extra-light: "Spartan-Extra-Light";
  --league-spartan-light: "Spartan-Light";
  --league-spartan-medium: "Spartan-Medium";
  --league-spartan-regular: "Spartan-Regular";
  --league-spartan-semi-bold: "Spartan-SemiBold";
  --league-spartan-thin: "Spartan-Thin";
  --montserrat-black: "Montserrat-Black";
  --montserrat-bold: "Montserrat-Bold";
  --montserrat-extra-bold: "Montserrat-Extra-Bold";
  --montserrat-extra-light: "Montserrat-Extra-Light";
  --montserrat-light: "Montserrat-Light";
  --montserrat-medium: "Montserrat-Medium";
  --montserrat-regular: "Montserrat-Regular";
  --montserrat-semi-bold: "Montserrat-SemiBold";
  --montserrat-thin: "Montserrat-Thin";
  --toploader-z-index: 2000;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
li,
p,
button {
  color: #ffffff;
}

/* body {
  background: linear-gradient(to bottom, var(--black-color), var(--bg-gradient-color)) !important;
} */

li.MuiListItem-root span {
  font-family: inherit !important;
}

.coreValueCard svg {
  width: 100%;
  height: 100%;
}

.borderNav {
  text-align: center;
  border-bottom: 2px solid transparent !important;
  border-image: linear-gradient(0.25turn, transparent, var(--button-shadow), transparent);
  border-image-slice: 1;
  width: 100%;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--button-shadow);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.MuiTabs-indicator {
  display: none !important;
}

/* .MuiTouchRipple-root {
  border: 1px solid var(--button-border);
} */

.bgCard {
  background: linear-gradient(to right, var(--bg-card), var(--bg-gradient-color));
  clip-path: polygon(0% 0%, 100% 0, 85% 99%, 0% 100%);
}

.bgCircle {
  border: 1px solid var(--bg-gradient-color);
  background: var(--section-color);
  border-radius: 100%;
}

.bgButton {
  background: linear-gradient(to right,
      var(--button-color),
      var(--black-color),
      var(--button-color));
}

.linear-bg2 {
  background: linear-gradient(270deg, var(--button-color), var(--black-color), var(--button-color));
  background-size: 200% 200%;
  animation: gradient-flow 8s ease infinite;
  border: 2px solid var(--button-border);
}

.linear-bg {
  background: linear-gradient(270deg, var(--button-color), var(--black-color), var(--button-color));
  background-size: 200% 200%;
  animation: gradient-flow 8s ease infinite;
}

@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animates {
  background-size: 200% 200%;
  animation: back-forth 10s linear infinite;
}

@keyframes back-forth {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  color: var(--arrow-icon);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroller);
  border-radius: 14px;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.shadowSubmit {
  box-shadow: 0px 0px 10px 2px var(--button-border);
}

.spinGlobe {
  animation: spin 35s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinCircle {
  animation: spin-circle 8s linear infinite;
}

@keyframes spin-circle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.MuiListItemText-root {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.MuiDrawer-paper {
  margin-top: 72px;
}

.MuiList-root {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.menu .MuiModal-backdrop {
  background: transparent !important;
}

.MuiListItem-gutters>a {
  width: 100% !important;
  transition: background 0.4s ease;
}

.MuiListItemText-root {
  text-align: left;
  color: var(--white-text);
}

.MuiListItemButton-gutters {
  border-bottom: 1px solid #3f3f3f;
}

.last-child-no-border {
  border-bottom: none;
}

.navList .MuiListItem-gutters:hover {
  background: linear-gradient(270deg, var(--button-color), var(--black-color), var(--button-color));
  background-size: 200% 200%;
  animation: backgroundAnimation 8s ease infinite;
}

.priceCard-recommend,
.gradient-bg-theme {
  background: linear-gradient(to right, var(--bg-card), var(--bg-gradient-color)) !important;
}

.gradient-bg-bottom {
  background: linear-gradient(to bottom, var(--black-color), var(--bg-gradient-color)) !important;
}

.gradient-blue-black {
  background-image: linear-gradient(to right, #000, #3533cd);
}

.bg-card-fold {
  background-image: url("/images/core-values/values-card-bg.png");
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.MuiListItemText-primary {
  font-family: var(--league-spartan-medium);
}

.text-gradient1 {
  background: linear-gradient(45deg, var(--button-shadow), var(--white-text));
  background-size: 200% 200%;
  animation: gradient-text1 4.5s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.text-gradient2 {
  background: linear-gradient(45deg, var(--button-shadow), var(--white-text));
  background-size: 200% 200%;
  animation: gradient-text1 4.5s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation-delay: 2s;
}

.text-gradient3 {
  background: linear-gradient(45deg, var(--button-shadow), var(--white-text));
  background-size: 200% 200%;
  animation: gradient-text1 4.5s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation-delay: 3.5s;
}

@keyframes gradient-text1 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.borderlessImg {
  max-width: 200px;
  max-height: 200px;

  @media (min-width:1024px) {
    max-width: 250px;
    max-height: 250px;
  }

  @media (min-width:1200px) {
    max-width: 300px;
    max-height: 300px;
  }

  @media (min-width:1440px) {
    max-width: 400px;
    max-height: 400px;
  }
}

.borderImg {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--white-text);
  border-radius: 100%;
  padding: 15px;
  flex: none;
  max-width: 200px;
  max-height: 200px;

  @media (min-width:1024px) {
    max-width: 250px;
    max-height: 250px;
  }

  @media (min-width:1200px) {
    max-width: 300px;
    max-height: 300px;
  }

  @media (min-width:1440px) {
    max-width: 400px;
    max-height: 400px;
  }
}

.borderImg::before {
  content: "";
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border: 5px solid;
  left: 2px;
  top: -2px;
  border-radius: 100%;
  border-top-color: var(--white-text);
  border-left-color: var(--white-text);
  transform: rotate(315deg);
  z-index: 2;
}

.borderImg::after {
  content: "";
  position: absolute;
  top: -16px;
  left: -12px;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  border: 15px solid var(--bg-gradient-color);
  border-radius: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  background: transparent;
  transform: rotate(-45deg);
}

.borderImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  position: relative;
  z-index: 1;
}

.border--fix {
  animation: none !important;
  border-color: transparent;
  box-shadow: none;
  background: #3533cb;
}

.border--fix2 {
  border-color: transparent;
}

.tasha-hand-img {
  left: 50%;
  transform: translateX(-50%);
}

.tasha-phone-mobile {
  bottom: 0;
}


@media only screen and (min-width: 900px) and (max-width: 1159px) {
  .borderImg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid;
    left: -1px;
    top: 1px;
    border-radius: 100%;
    border-top-color: var(--white-text);
    border-left-color: var(--white-text);
    transform: rotate(315deg);
    z-index: 2;
  }

  .borderImg::after {
    content: "";
    position: absolute;
    width: calc(100% + 36px);
    height: calc(100% + 36px);
    top: -17px;
    left: -18px;
    border: 17px solid var(--bg-gradient-color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    background: transparent;
    transform: rotate(-45deg);
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .borderImg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid;
    left: -1px;
    top: 1px;
    border-radius: 100%;
    border-top-color: var(--white-text);
    border-left-color: var(--white-text);
    transform: rotate(315deg);
    z-index: 2;
  }

  .borderImg::after {
    content: "";
    position: absolute;
    width: calc(100% + 36px);
    height: calc(100% + 36px);
    top: -17px;
    left: -18px;
    border: 17px solid var(--bg-gradient-color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    background: transparent;
    transform: rotate(-45deg);
  }
}

@media only screen and (min-width: 50px) and (max-width: 599px) {
  @keyframes glow {
    /* 0%{
      box-shadow: 0px 0px 10px 5px rgba(236, 39, 182, 0.5);
    }
    100%{
      boxShadow: 0px 0px 20px 10px rgba(236, 39, 182, 1);
    } */
  }

  .borderImg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid;
    left: -1px;
    top: 2px;
    border-radius: 100%;
    border-top-color: var(--white-text);
    border-left-color: var(--white-text);
    transform: rotate(315deg);
    z-index: 2;
  }

  .borderImg::after {
    content: "";
    position: absolute;
    width: calc(100% + 28px);
    height: calc(100% + 28px);
    top: -12px;
    left: -15px;
    border: 14px solid var(--bg-gradient-color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    background: transparent;
    transform: rotate(-45deg);
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .pricing-Cards-wrapper>div:nth-child(2) {
    order: -1;
    width: 100% !important;
  }
}

.animate-bounce {
  animation: bounce 1s infinite ease-in-out;
}

.animate-glow {
  animation: glow 2s infinite ease-out;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes glow {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.animate-y-move {
  animation: animateYmove 5s alternate infinite linear;
}

.animate-yy-move {
  animation: animateYYmove 5s alternate infinite linear;
}

@keyframes animateYmove {
  0% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(15px);
  }
}

@keyframes animateYYmove {
  0% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(-15px);
  }
}

.animate-typing {
  animation: typing 5s steps(20) infinite alternate, blink .7s infinite;
}

@keyframes typing {
  0% {
    width: 0;
    visibility: hidden;
  }

  100% {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }

  100% {
    border-color: white;
  }
}