h1 {
    font-size: 30px !important;
    line-height: 36px !important;

    @media (min-width: 768px) {
        font-size: 40px !important;
        line-height: 50px !important;
    }

    @media (min-width: 1280px) {
        font-size: 55px !important;
        line-height: 65px !important;
    }

    @media (min-width: 1536px) {
        font-size: 65px !important;
        line-height: 70px !important;
    }
}

h2 {
    font-size: 26px !important;
    line-height: 34px !important;

    @media (min-width: 768px) {
        font-size: 32px !important;
        line-height: 42px !important;
    }

    @media (min-width: 1280px) {
        font-size: 38px !important;
        line-height: 48px !important;
    }

    @media (min-width: 1536px) {
        font-size: 45px !important;
        line-height: 55px !important;
    }
}

p {
    font-size: 16px;
    line-height: 26px;

    @media (min-width: 1280px) {
        font-size: 18px;
        line-height: 28px;
    }
}